.container {
background-color: lightgray;
text-align: center;
padding: 4px;
}
button{
    padding: 4px;
}
a{
    color: blue;
}
.box_one{
    background-color: rgb(130, 208, 208);
    text-align: center;
    width: 33%;
    height: 100px;
    float: left;
}
.box_two{
    background-color: rgb(81,188,188);
    text-align: center;
    width: 34%;
    height: 90px;
    float: left;
    padding-top: 5px;
    padding-bottom: 5px;
}
.box_three{
    background-color: rgb(45,180,180);
    text-align: center;
    width: 33%;
    height: 100px;
    float: left;
}